server:
  port: 9100

security:
  jwt:
    public-key: classpath:public.txt

spring:
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://172.16.60.8;databaseName=Intranet2
    username: sa
    password: Adr@2!0&@
    hikari:
      register-mbeans: true
  jackson:
    serialization:
      INDENT_OUTPUT: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: intranet.adra1@gmail.com
    password: adra@adra
    subject: Azərbaycan Dövlət Reklam Agentliyi (Yeni şifrə bildirişi)
    body: Şifrəni dəyişmək üçün linkə daxil olun  http://intranet.adra.local:8082/intranet/changepassword?token=%s
  app-name: INTRANET


file:
  upload:
    path:
      win: C:\\uploads

auth:
  server:
    paths:
      count-of-all-users: http://172.16.60.51/adra/users/count