server:
  port: 9100

security:
  jwt:
    public-key: classpath:public.txt

spring:
  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://172.16.60.8;databaseName=Intranet2
    username: sa
    password: Adr@2!0&@
    hikari:
      register-mbeans: true
  jackson:
    serialization:
      INDENT_OUTPUT: true
  email:
    changePassword:
      subject: Azerbaycan Dovlet Reklam Agentliyi
      body: Shifreni deyishmek ucun linke daxil olun http://localhost:4200/sigin/forgetpassword/changepassword?token=%s
  app-name: INTRANET


file:
  upload:
    path:
      win: C:\\uploads

auth:
  server:
    paths:
      count-of-all-users: http://172.16.60.51/adra/users/count